/*Taken from https://syntagmatic.github.io/parallel-coordinates/ */
.parcoords > canvas { 
    font: 14px sans-serif;
    position: absolute;
  }
  .parcoords > canvas {
    pointer-events: none;
  }
  .parcoords text.label {
    cursor: default;
  }
  .parcoords rect.background:hover {
    fill: rgba(143, 31, 31, 0.2);
  }
  .parcoords canvas {
    opacity: 1;
    transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
  }
  .parcoords canvas.faded {
    opacity: 0.25;
  }
  .parcoords {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: white;
  }