#wrapper {
    position: relative;
    float: left;
    top: 20px;
    font-family: sans-serif;
    font-size: 90px;
 } 
 #tooltip{
     font-family: sans-serif;
     font-size: 15px;
     font-weight: bold;
     color:black;
 }  
 .states {
     fill: #ccc;  /*what color is each individual state block?*/
     stroke: #fff; /*what color is the state borders?*/
 } 

 /* I MADE THIS TO PUT THE GRAPHS NEXT TO EACH OTHER */
 div {
     border:solid 0px red;
     display:inline-block;
 }
 #state{
    padding: 5px 5px 5px 10px;
    position: absolute;
    /* position: relative; has to be position relative for left to work, or you could just do margin-left: -50px; too */
    /* align: center */
    top: 50px;
    left: 550px; 
 }
 #myPlot{
    /* padding: 1px 1px 1px 1px; */
    position: absolute;
    top: 750px;
    left: 20px;
    
    /*-150px;*/
 }
 h1{
    text-align:center;
    color: rgb(0, 4, 255);
    font-size: 3em;
}   
#title{
    position: relative;
    top: -20px;
}

 
 .container {
    background-color: rgba(138, 214, 233, 0.9);
    position: absolute;
    width: 400px;
    max-height: 100%;
    height: 500px;
    right:-150px
    /*padding-top: 56.25%;*/
    /* 16:9 Aspect Ratio */
    /* display: table; */
}
  
 #countiesDiv{
    padding: 5px 5px 5px 50px;
    position: fixed; /* has to be position relative for left to work, or you could just do margin-left: -50px; too */
    margin: 100px; 
    bottom: 400px;
    top: -90px;
    /* left: 2000px;   */
 }
 ul {
     position:absolute;
 }